@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

body {
    margin:0;
    padding: 0;
    font-family: 'Google Sans', arial, sans-serif;
 }

 .header-image{
    background-repeat: no-repeat;
    background-size: cover;
 }

 .container {
  position: relative;
  text-align: center;
  color: white;
}

.search-bar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -webkit-fill-available;
}

.search-button{
   background: #E91E63;
   width: 100%;
   color: white;
}